<div class="bg-dark">
  <div
    class="container vh-100 d-flex justify-content-center align-items-center"
  >
    <div class="main p-5 rounded rounded-4">
      <form action="" [formGroup]="singUpForm" (submit)="singup()">
        <h1 class="text-center mb-2">SingUp</h1>
        <div class="row">
          <div class="col-12">
            <label for="username" class="form-label">username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              formControlName="username"
            />
            <p
              class="text-danger rounded mt-1"
              [hidden]="
                singUpForm.get('username')?.valid ||
                singUpForm.get('username')?.untouched
              "
            >
              Enter valid username
            </p>
          </div>
          <div class="col-12">
            <label for="email" class="form-label">email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
            />
            <p
              class="text-danger rounded mt-1"
              [hidden]="
                singUpForm.get('email')?.valid ||
                singUpForm.get('email')?.untouched
              "
            >
              Enter valid email
            </p>
          </div>
          <div class="col-12">
            <label for="password" class="form-label">password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="pswd"
            />
            <p
              class="text-danger rounded mt-1"
              [hidden]="
                singUpForm.get('pswd')?.valid ||
                singUpForm.get('pswd')?.untouched
              "
            >
              Enter valid password
            </p>
          </div>
        </div>
        <div class="row" formGroupName="address">
          <div class="col-4 mt-2">
            <label for="city" class="form-label">City</label>
            <input
              type="text"
              name="city"
              class="form-control"
              id="city"
              formControlName="city"
            />
          </div>
          <div class="col-4 mt-2">
            <label for="state" class="form-label">state</label>
            <input
              type="text"
              name="state"
              class="form-control"
              id="state"
              formControlName="state"
            />
          </div>
          <div class="col-4 mt-2">
            <label for="country" class="form-label">country</label>
            <input
              type="text"
              name="country"
              class="form-control"
              id="country"
              formControlName="country"
            />
          </div>
        </div>
        <div class="d-flex justify-content-center w-100 mt-3">
          <button
            type="submit"
            class="btn btn-dark"
            [disabled]="!singUpForm.valid"
          >
            SingUp
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
