<div class="navbar py-2 justify-content-center mb-5 shadow">
  <h2 class="text-center">Product Details</h2>
</div>
<div class="container pt-3 overflow-hidden">
  <div class="row justify-content-evenly">
    <div class="col-4 bg-gradient">
      <img [src]="productData.images[0]" alt="" class="w-100 h-50" />
      <img
        class="mt-4 w-100 h-50"
        height=""
        [src]="productData.images[2]"
        alt=""
      />
    </div>
    <div class="col-5">
      <h1 class="text-center">{{ productData.title }}</h1>
      <h3>{{ productData.price | currency }}</h3>
      <h5>Disscount:{{ productData.discountPercentage }}%</h5>
      <p class="fs-4 fw-bold">rating: {{ productData.rating }}</p>
      <p class="fs-5">avalable {{ productData.stock }} pic</p>
      <hr />

      <p class="pt-5 fs-3 fw-semibold">Discription</p>
      <hr />
      <p>{{ productData.description }}</p>
      <hr />
      <button (click)="editPage(productData.id)" class="btn btn-dark">
        <i class="bi bi-pencil-square"></i>

        Edit
      </button>
    </div>
  </div>
</div>
